.container{
    display: grid;
    grid-template-areas:
    "header header header"
    "menu content content"
    "menu content content";
    grid-template-columns: 296px 1fr 1fr;
    grid-template-rows: 64px 1fr 1fr;
}
.container > div.header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 8px 8px;
    margin:0px 1px 0px 1px;
}
.container > div.menu{
    grid-area: menu;
    display: grid;
    background-color: #FFFFFF;
    margin: 16px;
    min-width: 128px;
    max-width: 255px;
    height: 991px;
    border-radius: 14px;
    justify-items: center;
    align-content: space-between;
}
.container > div.content{
    grid-area: content;
    margin: 20px 20px 20px 0px;
    background-color: #FFFFFF;
    max-height: 507px;
    max-width: 507px;
    border-radius: 14px;
}

.menu-list{
    font-size: 16px;
    font-weight:bolder;
    margin-top: 16px;  
}

.main-logo{
    display: grid;
    height: 37px;
    width: 160px;
    place-items: start;
    padding-left: 47px;
    padding-top: 5px;
}
.notification-bell{
    max-height: 20px;
    max-width: 16px;
    padding-right: 16px;
}
.navigation{
    display: flex;
    align-items: center;
    margin: 0;
}
.menu-icons{
    height: 24px;
    width: 24px;
    padding-right: 23px;
}
#logout-btn
{
    display: grid;
    background-color: #780A19;
    color: #FFFFFF;
    border-radius: 8px;
    height: 33px;
    width: 226px;
    text-align:center;
    font-size: 14px;  
    padding-top: 5px;
    margin-bottom: 22px; 
}   