.dashboard-container {
  height: 80%;
  display: flex;
  gap: 1.5rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.dashboard-container .dashboard-card-statistics {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dashboard-card-statistics .dashboard-card-container {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(2, 2.2fr);
  gap: 1.5rem;
}

.dashboard-card-container .dashboard-card {
  border-radius: 14px;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding-left: 1.8rem;
  background-color: #fff;
  font-family: "Roboto";
}

.dashboard-card-container .dashboard-icon-vendor{
  background-color:#4F45B6;
  height: 32px;
  width: 32px;
}
.dashboard-card-container .dashboard-icon-stores{
  background-color:#F58869;
  height: 32px;
  width: 32px;
}
.dashboard-card-container .dashboard-icon-users{
  background-color:#64C4F7;
  height: 32px;
  width: 32px;
}

.dashboard-card-statistics .dashboard-statistics {
  height: 70%;
  border-radius: 14px;
  background-color: #fff;
}

.dashboard-container .dashboard-content {
  height: 100%;
  width: 100%;
  border-radius: 14px;
  background-color: #fff;
}
